.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;  /* Ensure it takes full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  /* Align items at the top */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;  /* Add some padding for content */
}

.Navbar {
  width: 100%;  /* Make Navbar full width */
  background-color: #20232a;  /* Different color for Navbar */
  padding: 10px 0;  /* Padding for Navbar */
}

.Navbar ul {
  list-style-type: none;
  padding: 0;
}

.Navbar li {
  display: inline;  /* Inline list items for horizontal menu */
  margin: 0 15px;  /* Spacing between menu items */
}

.App-content {
  flex-grow: 1;  /* Allow content to take available space */
  padding: 20px;  /* Padding for content */
}

.App-link {
  color: #61dafb;
}
